/*
	Ptirhiik
	http://rpgnet.clanmckeen.com
*/

body {
	background-color: #000040;
	margin: 5px;
}

/* General font families for common tags */
font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif }
a:link,a:active,a:visited,a:hover { color : #800000; }
a:hover		{ text-decoration: underline; color : #F00000; }
hr	{ height: 0px; border: solid #AD5432 0px; border-top-width: 1px;}


/* This is the border line & background colour round the entire page */
.bodyline	{ 
	background-color: #FFEAB9; 
	background-image: url(CSSimages/woodlight.jpg);
	border: 1px #400000 solid; }

/* This is the outline round the main forum tables */
.forumline	{ background-color: #F9F5E9; border: 2px #AD5432 solid; }

.helpline { border: 0 }

/* Main table cell colours and backgrounds */
td.row1	{ background-color: #F6EBCC; background-image: url(CSSimages/paperlight.jpg) }
td.row2, .helpline	{ background-color: #F3E6BE; background-image: url(CSSimages/papermedium.jpg) }
td.row3, td.row3right { background-color: #F4E5BA; background-image: url(CSSimages/paperdark.jpg) }

/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #FFD000; font-size: 11px; font-weight : bold;
	background-color: #AD5432; 
	background-image: url(CSSimages/wooddark.jpg);
	height: 25px;
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom, td.spaceRow, td.rowpic {
	background-image: url(CSSimages/woodmedium.jpg);
	background-color:#E1C77A;
	border: #F9F5E9; border-style: solid; 
}
td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom, td.row3Right, td.rowpic {
	height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: #F9F5E9; border-style: solid; height: 28px; }

th.thHead,td.catHead { font-size: 12px; border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 1px 0px 1px; }
th.thRight,td.catRight,td.row3Right, td.rowpic	 { border-width: 0px 1px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 1px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop	 { border-width: 1px 0px 0px 0px; }
th.thCornerL { border-width: 1px 0px 0px 1px; }
th.thCornerR { border-width: 1px 1px 0px 0px; }


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size: 22px; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
			text-decoration: none; line-height : 120%; color : #000000;
}


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #000000; }
a.gen,a.genmed,a.gensmall { text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #000000 }
a.mainmenu		{ text-decoration: none; }
a.mainmenu:hover{ text-decoration: underline; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #AD5432}
a.cattitle		{ text-decoration: none; }
a.cattitle:hover{ text-decoration: underline; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #AD5432; }
a.forumlink 	{ text-decoration: none; }
a.forumlink:hover{ text-decoration: underline; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #000000;}
a.nav			{ text-decoration: none; }
a.nav:hover		{ text-decoration: underline; }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 11px; color : #000000; }
a.topictitle:link   { text-decoration: none; }
a.topictitle:visited { text-decoration: none; }
a.topictitle:hover	{ text-decoration: underline; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #000000;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #000000; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px;}
a.postlink:link	{ text-decoration: none; }
a.postlink:visited { text-decoration: none; }
a.postlink:hover { text-decoration: underline; }


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #444444; line-height: 125%;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright		{ color: #444444; text-decoration: none;}
a.copyright:hover { color: #000000; text-decoration: underline;}


/* Form elements */
input,textarea, select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color : #000000;
	background-color: #F6EBCC;
	background-image: url(CSSimages/paperlight.jpg);
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #F6EBCC;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color: #AD5432; 
	background-image: url(CSSimages/wooddark.jpg);
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
	color : #FFE080;
	border: 1px solid;
	border-color : #F4E5BA #400000 #400000 #F4E5BA;
}

/* The main submit button option */
input.mainoption {
	background-color: #AD5432; 
	background-image: url(CSSimages/wooddark.jpg);
	font-weight : bold;
	color : #FFE080;
	border: 1px solid;
	border-color : #F4E5BA #400000 #400000 #F4E5BA;
}

/* None-bold submit button */
input.liteoption {
	background-color: #AD5432; 
	background-image: url(CSSimages/wooddark.jpg);
	font-weight : normal;
	color : #FFE080;
	border: 1px solid;
	border-color : #F4E5BA #400000 #400000 #F4E5BA;
}

@import url("formIE.css");