/*
  Based on the original subSilver Theme for phpBB version 2+ by subBlue design (http://www.subBlue.com)
*/
body {
	background-color: #E5E5E5;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}

font, th, td, p {
	font-family: Verdana, Arial, Helvetica, sans-serif
}
a:link, a:active, a:visited {
	color: #006699;
}
a:hover {
	color: #DD6900;
	text-decoration: underline;
}

td.attachrow {
	color: #000000;
	font-size: 11px;
	font-weight: normal;
	border: 1px #006699 solid;
}
td.attachheader {
	color: #314687;
	font-size: 11px;
	font-weight: bold;
	background: #D7D7E7 url(images/css/css_cat.jpg) repeat-x;
	height: 21px;
	white-space: nowrap;
}
table.attachtable {
	color: #000000;
	font-size: 12px;
	font-weight: normal;
	border: 1px #006699 solid;
	border-collapse: collapse;
}

form {
	margin: 0px;
	padding: 0px;
}


.bodyline { 
	background-color: #FFFFFF;
	border: 1px #98AAB1 solid;
}
.forumline {
	background-color: #FFFFFF;
	border: 2px #006699 solid;
}
.helpline {
	border-style: none;
}

hr {
	height: 0px;
	border: solid #D0CAEA 0px;
	border-bottom-width: 1px;
}


td.row1 {
	background-color: #F0F0F7;
}
td.row2, .helpline {
	background-color: #EAEAF0;
}
td.row3, td.row3Right {
	background-color: #E0E0E7;
}
td.cat, td.catHead, td.catLeft, td.catSides, td.catRight, td.catBottom {
	background-color: #D7D7E7;
	background-image: url(./images/css/css_cat.jpg);
	height: 28px;
}
td.catlight {
	background-color: #F0F0F7;
	background-image: url(./images/css/css_cat_light.jpg);
	height: 28px;
}
td.catmini {
	background-color: #EAEAF7;
	background-image: url(./images/css/css_cat_mini.jpg);
	height: 20px;
}
td.spaceRow {
	background-color: #EAEAF7;
	background-image: url(./images/css/css_cat_tiny.jpg);
	height: 10px;
}

th {
	background-color: #0000A0;
	background-image: url(./images/css/css_header.jpg);
	height: 28px;
}

th, td {
	border: solid #FFFFFF 0px;
}
th.thHead, td.catHead {
	border-width: 1px 1px 0px 1px;
}
th.thSides, td.catSides, td.spaceRow, td.catmini {
	border-width: 0px 1px 0px 1px;
}
th.thRight, td.catRight, td.row3Right {
	border-width: 0px 1px 0px 0px;
}
th.thLeft, td.catLeft {
	border-width: 0px 0px 0px 1px;
}
th.thBottom, td.catBottom {
	border-width: 0px 1px 1px 1px;
}
th.thTop {
	border-width: 1px 0px 0px 0px;
}
th.thCornerL {
	border-width: 1px 0px 0px 1px;
}
th.thCornerR {
	border-width: 1px 1px 0px 0px;
}


/* fonts */
th {
	font-size: 11px;
	font-weight: bold;
	color: #FFA34F;
}

p, td, td.cat, td.catHead, td.catLeft, td.catSides, td.catRight, td.catBottom {
	font-size: 11px;
}


.maintitle, h1, h2 {
	font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	line-height: 120%;
	color: #000000;
}


.gen {
	font-size: 12px;
}
.genmed {
	font-size: 11px;
}
.gensmall {
	font-size: 10px;
}
.gen, .genmed, .gensmall { 
	color: #000000;
}
a.gen, a.genmed, a.gensmall {
	color: #006699;
	text-decoration: none;
}
a.gen:hover, a.genmed:hover, a.gensmall:hover {
	color: #DD6900;
	text-decoration: underline;
}

.mainmenu {
	font-size: 11px;
	color: #000000
}
a.mainmenu {
	text-decoration: none;
	color: #006699;
}
a.mainmenu:hover {
	text-decoration: underline;
	color: #DD6900;
}

.cattitle {
	font-weight: bold;
	font-size: 12px ;
	color: #006699;
}
a.cattitle {
	text-decoration: none;
	color: #006699;
}
a.cattitle:hover {
	text-decoration: underline;
}

.forumlink {
	font-weight: bold;
	font-size: 12px;
	color: #006699;
}
a.forumlink {
	text-decoration: none;
	color: #006699;
}
a.forumlink:hover {
	text-decoration: underline;
	color: #DD6900;
}

.nav {
	font-weight: bold;
	font-size: 11px;
	color: #000000;
}
a.nav {
	text-decoration: none;
	color: #006699;
}
a.nav:hover {
	text-decoration: underline;
}

.topictitle {
	font-weight: bold;
	font-size: 11px;
	color: #000000;
}
a.topictitle:link {
	text-decoration: none;
	color: #006699;
}
a.topictitle:visited {
	text-decoration: none;
	color: #5493B4;
}
a.topictitle:hover {
	text-decoration: underline;
	color: #DD6900;
}

.name {
	font-size: 11px;
	color: #000000;
}

.postdetails {
	font-size: 10px;
	color: #000000;
}

.postbody {
	font-size: 12px;
}
a.postlink:link {
	text-decoration: none;
	color: #006699;
}
a.postlink:visited {
	text-decoration: none;
	color: #5493B4;
}
a.postlink:hover {
	text-decoration: underline;
	color: #DD6900;
}

.code {
	font-family: Courier, 'Courier New', sans-serif;
	font-size: 11px;
	color: #006600;
	background-color: #FCFCFF;
	border: solid #D1D7DC 1px;
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #444444;
	line-height: 125%;
	background-color: #FCFCFC;
	border: solid #D1D7DC 1px;
}

.copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #444444;
	letter-spacing: -1px;
}
a.copyright {
	color: #444444;
	text-decoration: none;
}
a.copyright:hover {
	color: #000000;
	text-decoration: underline;
}

input, textarea, select {
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border-color: #000000;
}
input {
	text-indent: 2px;
}
input.post, textarea.post, select {
	background-color: #FFFFFF;
}
input.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #EFEFEF;
	color: #000000;
}

input.mainoption {
	background-color: #FAFAFA;
	font-weight: bold;
}
input.liteoption {
	background-color: #FAFAFA;
	font-weight: normal;
}

.absbottom {
	vertical-align: text-bottom;
}

/* calendar */
.dom_overview_abshidden {
	position: absolute;
	visibility: hidden;
	width: 300px;
}

/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url(./formIE.css);
